# a)_Lists
- Lists are one of the collection data type.
- Used for storing several items in a variable. ( Several values/iterables inside )
  - What characteristics 
  - Available operation
  - Lists are mutable

#### Create a list

In [ ]:
tv_program = ["Pawn Stars", "Digimon", "Suits", "Nyheter", "Pokemon"]

#### Access an item (Indexing)
- index always begins with 0 in python. 0, 1, 2, 3, 4, 5
- use the square brackets [ ] to acces an item with a certain index.

In [ ]:
# För att hitt andra värdet skriv en 1 innanför []. ELLER för att gå bakifrån till sista värdet som alltid är -1
tv_program[1] # <- = Digimon
tv_program[-1] # <- = Pokemon

In [ ]:
# To access the last item by counting from the left -> to right. Indexes ALWAYS start at 0,1,2,3....9 = (10 elements in the list)
# [Pawn stars 0, Digimon 1, Suits 2, Nyheter 3, Pokemon 4]
last_index = len(tv_program) -1
tv_program[last_index]

In [ ]:
# To access the last item from right <- to left. The last index ALWAYS starts at -1 no matter how long the list is.
#[Pawn stars-5, Digimon-4, Suits-3, Nyheter,-2, Pokemon-1]
tv_program[-5]

#### Iterate through a list

In [ ]:
for tv_shows in tv_program: #tv_shows is a temporary variable created when running the for loop.
# Before in is the temporary variable. AFTER in is the real variable we want to iterate through in the for loop.
    print(tv_shows)

#### Changing values of a list item

In [ ]:
tv_program # I messed up my list. I dont watch Digimon anymore, I want to replace it with another value.
# I want to assign a new value to the nr 1 spot in the list. Which is Digimon
tv_program[1] = "Jackass" # Index nr 1 = "Jackass"
# I replaced the value [1] from Digimon to -> = "Jackass"

#### Append a new value to a list
* Adds a new item as the last one to the list.

In [ ]:
# Hover over the .append and you will see that is a method to append items as the LAST item to a list.
# tv_program is a list, therefore we can use the method called .append(value)
tv_program.append("Monster Hunter")
tv_program

#### Access multiple items with slicing
- We are using -> : <- to make use of the slicing operator :

In [ ]:
# Left number is included/inclusive(0) : Right number is _NOT_ inclusive. 0:2 will include 0 and 1 and _NOT_ 2
# While using minus values (-1 etc) it is reversed.
tv_program[-3:-1]

#### Sorting lists

In [ ]:
# by default the list will be sorted by alfanumerical ascending order (a,b,c,d,e,f,g..... / 1,2,3,4,5,6,7) depending on the item types in the list
# Note that with sorting/reversed sorting the index of the items will be changed accordingly
tv_program.sort()
tv_program

In [ ]:
# Sort by DESCENDING order. .sort(reverse=True) makes the list reversed compared to the statement above. 
# Note that with sorting/reversed sorting the index of the items will be changed accordingly
tv_program.sort(reverse=True)
tv_program

#### List comprehension
- Create a list with list comprehension
- Clean code to create a list when creating a list form another iterable

In [ ]:
# Example: if i have a range of number of 1,2,3,4,5.....
# 1*1*1, 2*2*2, 3*3*3, 4*4*4, ..... 10*10*10
# The value of each item in the list cubes is actually a calculation from items in an existing iterable (that is -> range())
cubes = [i**3 for i in range(1, 10+1)]
cubes

# b)_Tuples
- Tuples are less flexible than lists. (Immutable)
- Tuples give "better" performance than lists. (less hardware intense in the backend of python) the reason for that is that lists are a more complicated data collection type.

#### Create a tuple.
- Tuples are made with () compared to lists -> []

In [ ]:
fruits= ("Strawberry", "Apple", "Orange", "Mango")

#### Access an item (indexing)

In [ ]:
fruits[1]

#### Accessing multiple items (slicing)

In [ ]:
fruits[:2]

#### Something that we CANNOT do is changing the value of an item of a tuple. This is because they are IMMUTABLE

In [ ]:
#this gives a TypeError. 'tuple' object does not support item assignment
fruits[1] = "Grape"
# this is because tuples are IMMUTABLE(un-changeable) and not MUTABLE(changeable) as lists are.

# c)_Sets
- Sets are more common for Data Science purposes compared to Data Engineering purposes but that does not mean it's not good to learn about sets.
- Sets are an object mostly used for those working with mathematical sets

#### Create a set

In [ ]:
# If I create a list of emails with duplicates.
# This is a LIST with emails in it.
emails = ["anna@email.com", "pelle@email.com", "babbel@email.com", "pelle@email.com", "kalle@email.com"]
emails

In [ ]:
# Use the items in the list to create a set.
# A set will only keep unique items.
# A set is less hardware intense compared to lists in python. For the same reason as with Tuples.
# A set does not care about the index order either.
emails_set = set(emails)

emails_set

#### Intersect of two sets
-

In [ ]:
# Create two sets

first_month_customers = {"alice", "bob", "carla", "daniel"}
second_month_customers ={"carla", "daniel", "elena"}

In [ ]:
returning_customers = first_month_customers.intersection(second_month_customers)
returning_customers

#### Union of two sets

In [ ]:
all_customers = first_month_customers.union(second_month_customers)
all_customers

#### Except

In [ ]:
onetime_customer = all_customers - returning_customers
onetime_customer